{% import 'header.htm.j2' as header %}
{% import 'metanav.htm.j2' as metanav %}
{% import 'footer.htm.j2' as footer %}

{{ header.main('Error 404: Page not found!') }}
{{ metanav.main() }}
  <p>What you were looking for is just not there.
  <p><a href="{{ url_for('page_main') }}">Go home...</a>
{{ footer.main() }}
