{% macro main() -%}
</div>
<!-- TODO put some "About" here -->
<div class="text-muted" align="center"><small><abbr title="Case Tracking Tool">CTT</abbr>  v. 0.78 GPL<br><a class="btn btn-link btn-xs" href="{{ url_for('url_source_code') }}">source code</a><br>Andrew Shelestov 2015</small></div>
</body>
</html>
{%- endmacro %}
