{% macro main(error) -%}
  <h2>Log in</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <script type="text/javascript">
    function checkSubmit(e)
    {
       if(e && e.keyCode == 13)
       {
          document.forms[0].submit();
       }
    }
  </script>
  <form id="login_form" name="login_form" action="{{ url_for('login') }}" method=post>
  <div class="input-group">
    <input type="text" name="username" class="form-control" placeholder="login" aria-describedby="sizing-addon2">
  </div>
  <div class="input-group">
    <input type="password" name="password" class="form-control" placeholder="password" aria-describedby="sizing-addon2" onKeyPress="return checkSubmit(event)">
  </div>
  </form>
{%- endmacro %}
