{% macro main(users=0, dates=0) -%}
<table><tr><td>
  <table class=issues>
    <tr class=issue-bold>
      <th></th>
      <th class="th-stat" bgcolor="#789078">
        C<br>r<br>e<br>a<br>t<br>e<br>d
      </font></th>
      <th class="th-stat" bgcolor="#A8C090">
        A<br>n<br>a<br>l<br>y<br>z<br>e<br>d
      </font></th>
      <th class="th-stat" bgcolor="#D8D890">
        T<br>e<br>s<br>t<br>e<br>d
      </font></th>
      <th class="th-stat" bgcolor="#D8C078">
        I<br>m<br>p<br>l<br>e<br>m<br>e<br>n<br>t
      </font></th>
      <th class="th-stat" bgcolor="#A89060">
        R<br>e<br>v<br>i<br>e<br>w<br>e<br>d
      </font></th>
      <th class="th-stat" bgcolor="#909090">
        M<br>o<br>v<br>e<br>d
      </font></th>
      <th class="th-stat" bgcolor="#C8C8C8">
        U<br>p<br>d<br>a<br>t<br>e<br>d
      </font></th>
    </tr>
    {% for i in users %}
    <tr>
      <td>{{ users[i].first_name }} {{ users[i].last_name }}</td>
      <td>{{ users[i].Created }}</td>
      <td>{{ users[i].Analyzed }}</td>
      <td>{{ users[i].Tested }}</td>
      <td>{{ users[i].Implemented }}</td>
      <td>{{ users[i].Reviewed }}</td>
      <td>{{ users[i].Moved }}</td>
      <td>{{ users[i].Updated }}</td>
    </tr>
  {% else %}
    <tr><td><em>Unbelievable! Nobody works!</em></td></tr>
  {% endfor %}
  </table>
</td><td align="center"> <!-- Next table here! -->
  <div align="center" class="btn-group">
    <a class="btn btn-default btn-xs {% if session.setting_stat_range == "All" %}active{% endif %}" href="{{ url_for('url_setting', key='stat_range', redir='statistics', value='All') }}">All</a>
    <a class="btn btn-default btn-xs {% if session.setting_stat_range == "Navigation" %}active{% endif %}" href="{{ url_for('url_setting', key='stat_range', redir='statistics', value='Navigation') }}">Navigation</a>
    <a class="btn btn-default btn-xs {% if session.setting_stat_range == "Speech" %}active{% endif %}" href="{{ url_for('url_setting', key='stat_range', redir='statistics', value='Speech') }}">Speech</a>
  </div>
  <form id="stat_dates" name="stat_dates" action="{{ url_for('statistics') }}" method=post>
    <table class=away>
      <tr>
        <td>
          <b>From date:&nbsp;</b>
        </td>
        <td>
          <input type="text" name="date_from" size="10" id="datepicker1" {% if dates.from != 0 %}value="{{ dates.from }}"{% endif %}>
        </td>
      </tr>
      <tr>
        <td>
          <b>To date:&nbsp;</b>
        </td>
        <td>
          <input type="text" name="date_to" size="10" id="datepicker2" {% if dates.to != 0 %}value="{{ dates.to }}"{% endif %}>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          <a class="btn btn-success" href="javascript:document.stat_dates.submit();"><b>&nbsp;SELECT&nbsp;</b></a>
        </td>
      </tr>
    </table>
  </form>
</td></tr></table>
{%- endmacro %}