{% macro main() -%}
<form id="passwd_upd_form" name="passwd_upd_form" action="{{ url_for('page_user') }}" method=post>
  <table>
    <tr>
      <td>Old password:</td>
      <td><input class="form-control" type=password name=old-password></td>
    <tr>
      <td>New password:</td>
      <td><input class="form-control" type=password name=new-password></td>
    <tr>
      <td>Confirmation:</td>
      <td><input class="form-control" type=password name=new-password-conf></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><br><a class="btn btn-primary" href="javascript:document.passwd_upd_form.submit();"><b>Update Password</b></a></td>
    </tr>
  </table>
</form>
{%- endmacro %}