{% macro main(stat_chart_data=0) -%}
<div style="width: 100%">
	<canvas id="canvas" height="450" width="600"></canvas>
</div>

<script>
{{ stat_chart_data }}
window.onload = function(){
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx).Bar(barChartData, {
            responsive : true
        });
    }
</script>
{%- endmacro %}