{% macro main() -%}
  <div>Show me&nbsp;
    <div class="btn-group">
      <a class="btn btn-default btn-xs {% if session.setting_show_range == "20" %}active{% endif %}" href="{{ url_for('url_setting', key='show_range', redir='page_main', value='20') }}">20</a>
      <a class="btn btn-default btn-xs {% if session.setting_show_range == "50" %}active{% endif %}" href="{{ url_for('url_setting', key='show_range', redir='page_main', value='50') }}">50</a>
      <a class="btn btn-default btn-xs {% if session.setting_show_range == "100" %}active{% endif %}" href="{{ url_for('url_setting', key='show_range', redir='page_main', value='100') }}">100</a>
      <a class="btn btn-default btn-xs {% if session.setting_show_range == "all" %}active{% endif %}" href="{{ url_for('url_setting', key='show_range', redir='page_main', value='all') }}">all</a>
    </div>{#-
    &nbsp;of&nbsp;all
    <div class="btn-group">
      <a class="btn btn-default btn-xs {% if session.setting_show_user == "me" %}active {% endif %}" href="{{ url_for('url_setting', key='show_user', redir='page_main', value='me') }}">my</a>
      <a class="btn btn-default btn-xs {% if session.setting_show_user == "everyone" %}active {% endif %}" href="{{ url_for('url_setting', key='show_user', redir='page_main', value='everyone') }}">everyones</a>
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">John Doe's
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Evel Knievel</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">John Doe's</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Satan Claw's</a></li>
      </ul>
    </div>
    -#}&nbsp;cases!
  </div>
  <!-- {{ session.setting_show_user }} {{ session.setting_show_range }} -->
  <br>
{%- endmacro %}