{% macro main(issue_id=0,issue_data=0) -%}
  {% if session.logged_in %}
    <form id="issue_form" name="issue_form" action="/" method=post>
      <table class=away>
        <tr>
          <td class=issue-bold>Case ID:</td>
          <td>
            <input type="text" name="title" size="30" {% if issue_data != 0 %}value="{{ issue_data.title }}"{% endif %}>
          </td>
        </tr>
        <tr>
          <td class=issue-bold>Synopsis:</td>
          <td><textarea name="description" rows=2 cols=34>{% if issue_data != 0 %}{{issue_data.description}}{% endif %}</textarea></td>
        </tr>
        <tr>
          <td class=issue-bold>Action:</td>
          <td>
            <select name="action">
              <option value="Created" {% if issue_data.action == "Created" %}selected{% endif %}>Created</option>
              <option value="Analyzed" {% if issue_data.action == "Analyzed" or issue_id == 0 and issue_data == 0 %}selected{% endif %}>Analyzed</option>
              <option value="Tested" {% if issue_data.action == "Tested" %}selected{% endif %}>Tested</option>
              <option value="Implemented" {% if issue_data.action == "Implemented" %}selected{% endif %}>Implemented</option>
              <option value="Reviewed" {% if issue_data.action == "Reviewed" %}selected{% endif %}>Reviewed</option>
              <option value="Moved" {% if issue_data.action == "Moved" %}selected{% endif %}>Moved</option>
              <option value="Updated" {% if issue_data.action == "Moved" %}selected{% endif %}>Updated</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class=issue-bold>Severity:</td>
          <td>
            <select name="severity">
              <option value="Any" {% if issue_data.severity == "Any" %}selected{% endif %}>Any</option>
              <option value="S-showstopper" {% if issue_data.severity == "S-showstopper" %}selected{% endif %}>S-showstopper</option>
              <option value="A-Severe" {% if issue_data.severity == "A-Severe" %}selected{% endif %}>A-Severe</option>
              <option value="B-Medium" {% if issue_data.severity == "B-Medium" %}selected{% endif %}>B-Medium</option>
              <option value="C-Minor" {% if issue_data.severity == "C-Minor" %}selected{% endif %}>C-Minor</option>
              <option value="NA" {% if issue_data.severity == "NA" %}selected{% endif %}>NA</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class=issue-bold>CCB Priority:&nbsp;</td>
          <td>
            <select name="ccb_priority">
              <option value="Any" {% if issue_data.ccb_priority == "Any" %}selected{% endif %}>Any</option>
              <option value="Top" {% if issue_data.ccb_priority == "Top" %}selected{% endif %}>Top</option>
              <option value="High" {% if issue_data.ccb_priority == "High" %}selected{% endif %}>High</option>
              <option value="Medium" {% if issue_data.ccb_priority == "Medium" %}selected{% endif %}>Medium</option>
              <option value="Low" {% if issue_data.ccb_priority == "Low" %}selected{% endif %}>Low</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class=issue-bold>Date</td>
          <td>
            <input type="text" name="action_date" id="datepicker1" {% if issue_data != 0 %}value="{{ issue_data.action_date }}"{% endif %}>
            {% if issue_id == 0 %}
            <script type="text/javascript">$(function() {$("#datepicker1").datepicker().datepicker("setDate", new Date());});</script>
            {% endif %}
          </td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;
            <input name="redirect" value="home" type="hidden">
            <script type="text/javascript">
              function redir2add(){
                var elem_redir = document.getElementsByName("redirect")[0].value = "add";
                submitFormWithValue('issue_form','{{ url_for('handle_issue', issue_id=issue_id, action='add' ) }}');
              }
            </script>
          </td>
        </tr>
        <tr>
          {% if issue_id != 0 %}
            <td><a class="btn btn-danger" href="javascript:submitFormWithValue('issue_form','{{ url_for('handle_issue', issue_id=issue_id, action='delete') }}')"><b>Delete</b></a></td>
            <td><a class="btn btn-warning" href="javascript:submitFormWithValue('issue_form','{{ url_for('handle_issue', issue_id=issue_id, action='edit') }}')"><b>Edit</b></a>
            &nbsp;&nbsp;<a class="btn btn-success" href="javascript:submitFormWithValue('issue_form','{{ url_for('handle_issue', issue_id=0, action='add') }}')" title="Create a copy of issue. You can change any values, changes will ony be applied to new case."><b>Add as copy</b></a></td>
          {% else %}
            <td></td>
            <td>
              <a class="btn btn-success" title="Redirects you to homepage." href="javascript:submitFormWithValue('issue_form','{{ url_for('handle_issue', issue_id=issue_id, action='add' ) }}')"><b>Add</b></a>
              &nbsp;
              <a class="btn btn-success" title="Redirects you to this page, so you can add more cases." href="javascript:redir2add()"><b>Add and return here</b></a>
            </td>
          {% endif %}
        </tr>
      </table>
    </form>
  {% endif %}
{%- endmacro %}
