{% macro main(page_title) -%}
<!doctype html>
<html lang="en">
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
  <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
  <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
  <script src="{{ url_for('static', filename='jquery-1.10.2.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='Chart.js') }}"></script>
  <script>
  $(function() {
    $('#datepicker1').datepicker({ dateFormat: 'yy-mm-dd' }).val();
    $('#datepicker2').datepicker({ dateFormat: 'yy-mm-dd' }).val();
  });
  function submitFormWithValue(el_name, val){
    document.getElementsByName(el_name)[0].action = val;
    document.issue_form.submit();
  }
  </script>
</head>
<body>
<div class=page align="center">
  <h1>{{ page_title }}</h1>
{%- endmacro %}
