{% macro link_if_logged_in(link, name) -%}
{% if session.logged_in %}<a href="{{ link }}">{% endif%}{{ name }}{% if session.logged_in %}</a>{% endif%}
{%- endmacro%}

{% macro main(issues, users) -%}
  <table class=issues>
   <tr class=issue-bold>
     <td>№</td>
     <td>Case IS</td>
     <td>Action</td>
     <td>Date</td>
     <td>User</td>
     <td>UID</td>
     <td>Synopsis</td>
     <td>Severity</td>
     <td>CCB Ptiority</td>
  </tr>
  {% for issue in issues %}
    <tr>
      <td align="center">
        {{ link_if_logged_in( url_for('handle_issue', issue_id=issue.id, action='edit'), issue.id ) }}
      </td>
      <td>
        {{ link_if_logged_in( url_for('handle_issue', issue_id=issue.id, action='edit'), issue.title ) }}
      </td>
      <td> {{ issue.action }} </td>
      <td> {{ issue.action_date }} </td>
      <td> <img src="{{ url_for('static', filename=users[issue.user_id].team+'.png') }}" title="{{users[issue.user_id].team}}" align="top"> {{ users[issue.user_id].first_name }} {{ users[issue.user_id].last_name }} </td>
      <td> {{ users[issue.user_id].corporate_id }} </td>
      <td> {{ issue.description }} </td>
      <td> {{ issue.severity }} </td>
      <td> {{ issue.ccb_priority }} </td>
    </tr>
  {% else %}
    <tr><td><em>Unbelievable.  No issues here so far</em></td></tr>
  {% endfor %}
  </table>
{%- endmacro %}
