{% macro main() -%}
  <div class=metanav>
  <div class="btn-group">
    <a class="btn btn-default" href="{{ url_for('page_main') }}">
    <img align="top" src="{{ url_for('static', filename='house.png') }}"> Home</a>
  {% if session.logged_in %}
    &nbsp;
    <a class="btn btn-default" href="{{ url_for('page_add') }}" title="Add another case.">
      <img align="top" src="{{ url_for('static', filename='plus.png') }}"> Add</a>
    &nbsp;
    <a class="btn btn-default" href="{{ url_for('url_xlsx_dump') }}" title="Import everything as Excel document. Sorting: by stated date">
      <img align="top" src="{{ url_for('static', filename='Excel.png') }}"> .xlsx
    </a>
    <!--&nbsp;
    <a class="btn btn-default" href="{{ url_for('url_mysql_dump') }}">
      <img align="top" src="{{ url_for('static', filename='database_go.png') }}"> MySQL DUMP</a> -->
  {% endif %}
    &nbsp;
    <a class="btn btn-default" href="{{ url_for('statistics') }}">
      <img align="top" src="{{ url_for('static', filename='diagramm.png') }}"> Statistics</a>
    </div>
    &nbsp;
  {% if session.logged_in %}
    <a class="btn btn-link" href="{{ url_for('page_user') }}">
     <img align="top" src="{{ url_for('static', filename='user.png') }}">&nbsp;{{session.user_name}} [{{session.user_login}}] </a>
    &nbsp;
    <a class="btn btn-danger" href="{{ url_for('logout') }}">
     <img align="top" src="{{ url_for('static', filename='door_out.png') }}"><b>&nbsp;Log out</b></a>
  {% else %}
    <a class="btn btn-primary" href="{{ url_for('login') }}">
      <img align="top" src="{{ url_for('static', filename='door_in.png') }}"><b>&nbsp;&nbsp;Log in</b></a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}
{%- endmacro %}
