{% import 'header.htm.j2' as header %}
{% import 'footer.htm.j2' as footer %}
{% import 'metanav.htm.j2' as metanav %}
{% import 'form_issue.htm.j2' as form_issue %}

{{ header.main('Add case') }}
{{ metanav.main() }}
{{ form_issue.main() }}
{{ footer.main() }}
