{% import 'header.htm.j2' as header %}
{% import 'form_login.htm.j2' as login_form %}
{% import 'footer.htm.j2' as footer %}

{{ header.main('Tracked cases') }}
{{ login_form.main(error) }}
{{ footer.main() }}
