{% import 'header.htm.j2' as header %}
{% import 'footer.htm.j2' as footer %}
{% import 'metanav.htm.j2' as metanav %}
{% import 'form_statistics.htm.j2' as form_stats %}
{% import 'form_chart.htm.j2' as form_chart %}

{% if dates.from != '' and dates.to != '' %}
{{ header.main('Statistics from ' + dates.from + ' to ' + dates.to) }}
{% else %}
{{ header.main('Statistics over all period') }}
{% endif %}
{{ metanav.main() }}
<table width="100%">
<tr>
<td width="50%">{{ form_chart.main(stat_chart_data) }}</td>
<td width="50%" class="td-vtop">{{ form_stats.main(stat_dict_list, dates) }}</td>
</tr>
</table>
{{ footer.main() }}
