{% import 'header.htm.j2' as header %}
{% import 'footer.htm.j2' as footer %}
{% import 'metanav.htm.j2' as metanav %}
{% import 'form_issue.htm.j2' as form_issue %}

{{ header.main('Tracked cases') }}
{{ metanav.main() }}
{{ form_issue.main(issue_id,issue_data) }}
{{ footer.main() }}
