{% import 'header.htm.j2' as header %}
{% import 'footer.htm.j2' as footer %}
{% import 'metanav.htm.j2' as metanav %}
{% import 'form_user.htm.j2' as form_user %}

{{ header.main('Tracked cases') }}
{{ metanav.main() }}
{{ form_user.main() }}
{{ footer.main() }}
