{% import 'header.htm.j2' as header %}
{% import 'footer.htm.j2' as footer %}
{% import 'metanav.htm.j2' as metanav %}
{% import 'form_issue_range.htm.j2' as form_issue_range %}
{% import 'issues_table.htm.j2' as issues_table %}

{{ header.main('Tracked cases') }}
{{ metanav.main() }}
{{ form_issue_range.main() }}
{{ issues_table.main(issues, users) }}
{{ footer.main() }}
